



#poker-table
{
padding-top: 50px;
padding-bottom: 50px;
background-image: url(img/cigar.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;


}

.header
{
color: white;
text-align: center;
justify-content: center;
}


/* https://stackoverflow.com/questions/45097172/is-it-possible-to-add-image-as-box-shadow-with-css */

.joker 
{
height: 150px;
width: 100px;
border-radius: 10px;
padding:10px;
  box-shadow: 0px 0px 40px #ccc;
        -moz-box-shadow: 0px 0px 40px #ccc;
        -webkit-box-shadow: 0px 0px 40px #ccc;
}

@media only screen and (max-width: 600px) {
  .joker {
 height: 150px;
width: 75px;
border-radius: 5px;
  }

}


#dealer-hand 
{
display: flex;
text-align: center;
justify-content: center;

}

#computer-hand
{
margin: 20px;
display: flex;
text-align: center;
justify-content: center;

}



#river
{
display: flex;
text-align: center;
justify-content: center;
}




#player
{
margin-top: 20px;
display: flex;
text-align: center;
justify-content: center;
}


#actions
{
display: flex;
text-align: center;
justify-content: center;
padding: 10px;
}
.distribute
{
display: flex;
}

.bet
{

display: flex;
}

.fold
{
display: flex;
}


button
{
width: 100px;
background-color: red;
color:white;
}


@media only screen and (max-width: 600px) {
	button {width: 50px;}}


table 
{

background-color: white;
border-radius: 10px;
color: black;
background-image: url(img/dice.jpg);
background-position: top-right;
background-size: cover;

}

th, td {
padding:10px;
font-size: 20px;
}
